<mat-toolbar color="primary">
  <span>Hotel Manager</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/home">Inicio</button>
<!--  <button mat-button routerLink="/rooms">Habitaciones</button>
  <button mat-button routerLink="/employees">Trabajadores</button>
  <button mat-button routerLink="/clients">clientes</button>
  <span class="example-spacer"></span>-->
  <!-- <button mat-button routerLink="/dashboard">LogOut</button> -->
  <button mat-icon-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
