<app-navbar></app-navbar>
  <h1 class="title">Bienvenido ¿Qué desea hacer?</h1>

<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
      <button mat-button routerLink="/registerclients">
        <img mat-card-image class="img" src="https://images.unsplash.com/photo-1556742212-5b321f3c261b?ixlib=rb-1.2.
        1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Photo of a Shiba Inu">
        <h2>Registrar</h2>
      </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/rooms" >
      <img mat-card-image class="img" src="https://images.unsplash.com/photo-1586023492125-27b2c045efd7?ixlib=rb-1.2.
      1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=958&q=80" alt="Photo of a Shiba Inu">
      <h2>Habitaciones</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/inventory">
      <img mat-card-image class="img" src="https://images.unsplash.com/photo-1546198632-9ef6368bef12?ixlib=rb-1.2.
      1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Photo of a Shiba Inu">
      <h2>Inventario</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/clients">
      <img mat-card-image class="img" src="https://images.unsplash.com/photo-1556740758-90de374c12ad?ixlib=rb-1.2.
      1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Photo of a Shiba Inu">
      <h2>Clientes</h2>
    </button>

  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/schedule" >
      <img mat-card-image class="img" src="https://images.unsplash.com/photo-1506784983877-45594efa4cbe?ixlib=rb-1.2.
      1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1168&q=80" alt="Photo of a Shiba Inu">
      <h2>Schedule</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/employees">
      <img mat-card-image class="img" src="https://images.unsplash.com/photo-1538688423619-a81d3f23454b?ixlib=rb-1.2.
      1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Photo of a Shiba Inu">
      <h2>Empleados</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/costs">
      <img mat-card-image class="img" src="https://images.unsplash.com/photo-1638913662529-1d2f1eb5b526?ixlib=rb-1.2.
      1&ixid=MnwxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Photo of a Shiba Inu">
      <h2>Costos</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/chat">
      <img mat-card-image class="img" src="https://images.unsplash.com/photo-1631427962232-803d4f30c64f?ixlib=rb-1.2.
      1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Photo of a Shiba Inu">
      <h2>Chat</h2>
    </button>
  </mat-grid-tile>

</mat-grid-list>
