<app-navbar></app-navbar>
  <h1 class="title">Bienvenido ¿Qué desea hacer?</h1>

<mat-grid-list cols="4" rowHeight="2:1">
  <mat-grid-tile>
      <button mat-button routerLink="/registerclients">
        <img mat-card-image class="img" src="assets/registro.png" alt="Photo of a Shiba Inu">
        <h2>Registrar</h2>
      </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/rooms" >
      <img mat-card-image class="img" src="assets/rooms.png" alt="Photo of a Shiba Inu">
      <h2>Habitaciones</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/inventory">
      <img mat-card-image class="img" src="assets/inventory.png" alt="Photo of a Shiba Inu">
      <h2>Schedule</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/clients">
      <img mat-card-image class="img" src="assets/clientes.png" alt="Photo of a Shiba Inu">
      <h2>Clientes</h2>
    </button>

  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/schedule" >
      <img mat-card-image class="img" src="assets/schedule.png" alt="Photo of a Shiba Inu">
      <h2>Schedule</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/employees">
      <img mat-card-image class="img" src="assets/employees.png" alt="Photo of a Shiba Inu">
      <h2>Empleados</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/costs">
      <img mat-card-image class="img" src="assets/costs.png" alt="Photo of a Shiba Inu">
      <h2>Costos</h2>
    </button>
  </mat-grid-tile>

  <mat-grid-tile>
    <button mat-button routerLink="/chat">
      <img mat-card-image class="img" src="assets/chat.png" alt="Photo of a Shiba Inu">
      <h2>Chat</h2>
    </button>
  </mat-grid-tile>

</mat-grid-list>

